:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  width: 300px;
  text-align: center;
  margin-left: 80px;
}

p {
  margin-top: 10px;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.drum-pad {
  display: flex;
  padding-top: 40px;
  background-color: rgb(148, 148, 148);
  width: 130px;
  height: 90px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  justify-content: center;
}

.drum-pad:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#display {
  background-color: rgba(109, 109, 109, 0.573);
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  border-radius: 5px;
}
